/* nav related style */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 35px;
    color: white;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav li>a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    /* width: 1600px;
    height: 837px; */
    background: #FFF8F3;
}

.banner {
    padding: 30px 38px 30px 230px;
    display: flex;
    align-items: center;
}

.banner-img {
    width: 584px;
    height: 676px;
}